*{
  
  font-family: Verdana, Geneva, sans-serif;
  line-height: 140%;
}
body{
  float: left;
  
}
.mainElement{
   position:absolute;
   display:block;
   vertical-align: left;	
   z-index:15;
   top:10%;
   left:15em;
}
.koieElement{
   position:absolute;
   display:block;
   vertical-align: left;	
   z-index:15;
   top:10%;
   left:15em;
   overflow:auto;
   height: 80%;
   width:65%;
}
.mailsubmit{
	padding: 3px;
}
	
#map-canvas{
   position:absolute;
     z-index:15;
     top:7em;
     bottom:5em;
     left:12em;
     right:7em;
     margin:2%;
	 height: 85%;
	overflow:auto;
	
	}	
.center_div {
    vertical-align: center;
    display: block;
    width:960px;
    position:absolute;	
   z-index:15;
  
   overflow:auto;
   
}



#footer{
  position:absolute;
    
    
    z-index:15;
    bottom:1%;
    left:35%;
}
#footer p{
  font-style: italic;
  font-weight: bold;
  font-size:90%;
}
#contact-form{
	padding: 10%;
}
.container{
  background:#ccc;
  margin:10px;
  
}
	
.header{
  background:url('http://cdn1.iconfinder.com/data/icons/vaga/arrow_up.png') no-repeat;
  background-position:right 0px;
  cursor:pointer;
  margin-bottom:-15px;
}
.header img{
padding-top: 5px;
width: 5%
}
.collapsed .header{
  background-image:url('http://cdn2.iconfinder.com/data/icons/vaga/arrow_down.png');
}
#container{
  text-align: center;
}

.content{
  height:auto;
  min-height:100px;
  overflow:hidden;
  
}
.content div{
display:inline-block;
list-style: none;
vertical-align: middle;
}
.content img{
margin-bottom: 5px;
margin-left:25px;
width:35.2em;

}
.content li img{
width:11em;
margin:3px;
}
.content ul{
list-style: none;
}

.collapsed .content{
  min-height:0px;
  height:0px;
}
.mailsubmit{
  position:fixed;
  text-align: left;
  top: 1.8em;
} 

div.menu img{
  margin-left: .7em;
  margin-bottom: -1em;
  width: 8em;
  -webkit-transition: all 0.7s ease; transition: all 0.7s ease;
  
}
tr.alert{
  background-color: red;
} 
div.menu{
  vertical-align: center;
  margin-left: 2.5em;
  margin-top:2.5em; 
  width: 12em;
  padding:5 em;
  height:30%;
  width: 5%;
  
}
div.menu ul{
  display: inline-block;
  
  margin-left: .3em;
  list-style-type: none;
  padding: 1.5em;
  border-radius:1em;
}
div.menu button{
  margin: 2px;
  width: 7em;
  padding: .5em;
}

table {
	width: 80%;
	margin: 1em auto;
	border-collapse: collapse;
	
}

thead th,
tfoot th {
	padding: 0.5em;
	text-align: left;
	border: 1px solid black;
	background-color: #9BC79C;
}

tfoot td {
	border-top: 1px solid black;
}

tbody td {
	padding: 0.5em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	line-height: 110%;
	
}

tbody tr.odd {
	background-color: #9BC79C;
}

td.numeric,
th.numeric {
	text-align: right;
}
